/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of css reset */






body {
	background-color: #f2f2f2;
	height: 100%;
	width: 100%;
	margin: 9%;
}

#container {
	
}

#header {

}

#navigation {

}

#body {

}


.pattern {
	float: left;
	background-color: #99cc77; /* green */
	margin: 1%;
}



#p01 {
	width: 28%;
	height: 100px;
	background-image:url('../images/blackorchid.png');
	background-repeat:repeat;
}

#p02 {
	width: 50%;
	height: 100px;
	background-image:url('../images/cream_dust.png');
	background-repeat:repeat;
}

#p03 {
	width: 40%;
	height: 100px;
	background-image:url('../images/escheresque.png');
	background-repeat:repeat;
}

#p04 {
	width: 38%;
	height: 100px;
	background-image:url('../images/use_your_illusion.png');
	background-repeat:repeat;
}

#p05 {
	width: 53%;
	height: 100px;
	background-image:url('../images/txture.png');
	background-repeat:repeat;
}

#p06 {
	width: 25%;
	height: 100px;
	background-image:url('../images/furley_bg.png');
	background-repeat:repeat;
}

#p07 {
	width: 28%;
	height: 100px;
	background-image:url('../images/gplaypattern.png');
	background-repeat:repeat;
}

#p08 {
	width: 50%;
	height: 100px;
	background-image:url('../images/noisy_net.png');
	background-repeat:repeat;
}

#p09 {
	width: 40%;
	height: 100px;
	background-image:url('../images/outlets.png');
	background-repeat:repeat;
}

#p10 {
	width: 38%;
	height: 100px;
	background-image:url('../images/gray_jean.png');
	background-repeat:repeat;
}

#p11 {
	width: 53%;
	height: 100px;
	background-image:url('../images/retro_intro.png');
	background-repeat:repeat;
}

#p12 {
	width: 25%;
	height: 100px;
	background-image:url('../images/stressed_linen.png');
	background-repeat:repeat;
}

#p13 {
	width: 28%;
	height: 100px;
	background-image:url('../images/tactile_noise.png');
	background-repeat:repeat;
}

#p14 {
	width: 50%;
	height: 100px;
	background-image:url('../images/type.png');
	background-repeat:repeat;
}

#footer {

}







